@import "main.css";


.buttonStyle {
    background-color: darkred;
    padding: 0px 4px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

#tableMargin {
    margin-left: 50px;
    margin-right: 50px;
}

#tableSize {
    width: 66% ;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.fixed {
    table-layout: fixed;

}

th,td {
    text-align: center;
}


.optionWidth{
    width: 1%
}


