<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div th:switch="${all}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Hp</th>
                <th>Damage</th>
                <th>Min Spell Damage</th>
                <th>Max Spell Damage</th>
                <th>Mana</th>
            </tr>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr th:each="all : ${heroes}">
                <td th:text="${all.id}"></td>
                <td th:text="${all.name}"></td>
                <td th:text="${all.hp}"></td>
                <td th:text="${all.damage}"></td>
                <td th:text="${all.minSpell}"></td>
                <td th:text="${all.maxSpell}"></td>
                <td th:text="${all.restore}"></td>
                <td th:text="${all.mana}"></td>

                <td><a th:href="@{user-update/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
           </body>
</html>

