<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        #main {
            background-color: lightblue;
            color: black;
            padding: 35px;
            text-align: center;
        }

        .class {
            background-color: forestgreen;
            color: white;
            padding: 10px;
        }
    </style>
</head>
<body>


<h1 id="main">Main</h1>
<dl>

    <h3><dt class="class">Hero</dt></h3>
    <dd><a href="http://localhost:8080/hero/all"> Show all Heroes</a></dd>
    <dd><a href="http://localhost:8080/hero/id/"> Get hero by id</a></dd>
    <dd><a href="http://localhost:8080/hero/save/id/name/hp/damage/minSpell/maxSpell/restore/mana"> Save or create a new
        Hero</a></dd>
    <dd><a href="http://localhost:8080/hero/delete/"> Remove hero by id</a></dd>

    <h3> <dt class="class">Location</dt> </h3>
    <dd><a href="http://localhost:8080/location/all"> Show all Locations</a></dd>
    <dd><a href="http://localhost:8080/location/id/"> Get location by id</a></dd>
    <dd><a href="http://localhost:8080/location/save/id/name/heroHp/heroDamage/heroSpellDamage/heroRestoreHealth/creatureHp/creatureDamage/creatureChance"> Save or create a new
        Location</a></dd>
    <dd><a href="http://localhost:8080/location/delete/"> Remove location by id</a></dd>

    <h3><dt class="class">Mob</dt></h3>
    <dd><a href="http://localhost:8080/mobs/all"> Show all Mobs</a></dd>
    <dd><a href="http://localhost:8080/mobs/id/"> Get mob by id</a></dd>
    <dd><a href="http://localhost:8080/mobs/save/id/name/hp/minDamage/maxDamage/chanceToSuperDamage"> Save or create a new
        Mob</a></dd>
    <dd><a href="http://localhost:8080/mobs/delete/"> Remove mob using id</a></dd>

    <h3><dt class="class">Boss</dt></h3>
    <dd><a href="http://localhost:8080/bosses/all"> Show all Bosses</a></dd>
    <dd><a href="http://localhost:8080/bosses/id/"> Get boss by id</a></dd>
    <dd><a href="http://localhost:8080/bosses/save/id/name/hp/minDamage/maxDamage/restoreHealth/chanceToSuperDamage"> Save or create a new
        Boss</a></dd>
    <dd><a href="http://localhost:8080/bosses/delete/"> Remove hero by id</a></dd>

</dl>
</body>
</html>
